<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
        <a class="navbar-brand" href="{% url 'ads:list_ads' %}">Обменник</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'ads:create_ad' %}">+ Подать объявление</a></li>
                <li class="nav-item"><a class="nav-link" href="">Мои</a></li>
                <li class="nav-item"><a class="nav-link" href="">Предложения</a></li>
                <li class="nav-item"><a class="nav-link" href="">Выйти</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="">Войти</a></li>
            {% endif %}
            </ul>
        </div>
        </div>
    </nav>
</header>