<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}{% if condition %}&condition={{ condition }}{% endif %}">
                Назад
                </a>
            </li>
        {% endif %}

        <li class="page-item active">
        <span class="page-link">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}{% if condition %}&condition={{ condition }}{% endif %}">
                Вперёд
                </a>
            </li>
        {% endif %}
    </ul>
</nav>